.links {
    text-decoration: underline;
    opacity: 1;
    transition: opacity 0.2s linear;
    color: #FFFFFF;
}

.links:hover {
    opacity: .7;
}

.links:last-of-type {
    text-decoration: none;
}