.cover__overlay {
    background: rgba(42, 44, 46, .3);
    transition: opacity 0.2s linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    text-decoration: none;
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, .8);
}